body {
  background-color: rgb(223, 223, 223);
}

.container {
  padding: 5%;
  margin-right: 16%;
  background-color: white;
  text-align: center;
  margin-left: 16%;
  padding-bottom: 13%;
  margin-top: 2%;
  font-family: sans-serif;
}

.heading {
  margin-top: -6%;
}
#inputVal {
  margin-top: 5%;
  border-style: none;
  border-bottom: 2px solid;
}
.items {
  margin-top: 3%;
  font-family: sans-serif;
  font-size: 20px;
}
.addBtn {
  font-size: 14px;
  border-style: none;
  padding: 1%;
  border-radius: 9px;
  padding-left: 2%;
  padding-right: 2%;
}
.addBtn:hover {
  box-shadow: 1px 0px 4px 1px gray;
}
